@import url(normalize.css);
/* Mixins for Filmhauz */
/* Mixins
---------------------------------- */
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  vertical-align: -1px; }

/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
body {
  width: 100%; }

.container {
  overflow: hidden;
  margin: 2em auto;
  padding: 0 5%; }

.content {
  overflow: hidden;
  margin: 0 auto;
  max-width: 1420px;
  width: 100%; }

/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/
body {
  font: 100% "rooney-web", Georgia, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased; }

.content p:first-child {
  font-weight: 700;
  font-size: 1.25em; }
.content .post-details {
  color: #959595; }

.info {
  font-size: .85em; }
  .info p {
    margin-top: .5em;
    line-height: 1.5em; }

.top {
  font-size: 1.25em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "cubano", sans-serif;
  line-height: 1em; }

.title-block h1 {
  color: white; }
  @media (max-width: 650px) and (min-width: 0px) {
    .title-block h1 {
      font-size: 1.25em; } }

.header-sticky h1 {
  font-size: 1.5em; }

.info h4 {
  margin-bottom: 0; }

a {
  color: red;
  text-decoration: none;
  transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-property: color;
  -webkit-transition-property: color;
  -ms-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out; }
  a:hover {
    color: blue; }

.title-block a {
  color: white; }
  .title-block a:hover {
    color: #f7f7f7; }

footer a {
  color: white; }

/*------------------------------------*\
    $GRID
\*------------------------------------*/
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11 {
  float: left;
  overflow: hidden;
  margin-right: 3.2786885%;
  min-height: 1px; }

.col3 {
  width: 22.5409836%;
  padding-top: .875em; }
  @media (max-width: 650px) and (min-width: 0px) {
    .col3 {
      width: 100%; } }

.col6 {
  width: 48.3606557%; }
  @media (max-width: 650px) and (min-width: 0px) {
    .col6 {
      width: 100%; } }

.end {
  margin-right: 0;
  padding-right: 0; }

/*------------------------------------*\
    $CONTENT
\*------------------------------------*/
.content {
  /*p:last-child {
  	display: -moz-inline-stack;
  	display: inline-block;
  	vertical-align: middle;
  	zoom: 1;
  	background: #e84824;
  	background: rgba(51,51,51,0.2);
  	content: "";
  	height: 13px;
  	margin-left: 0.35em;
  	width: 13px;
  }*/ }
  .content .post-img {
    margin-bottom: 1em; }
    .content .post-img img {
      margin: 0 auto; }
  .content header {
    margin: 0 auto;
    width: 48.3606557%; }
    @media (max-width: 650px) and (min-width: 0px) {
      .content header {
        width: 100%; } }
    .content header .title-block {
      padding: .45em 1em;
      background-color: red; }
      @media (max-width: 650px) and (min-width: 0px) {
        .content header .title-block {
          padding: .25em 1em; } }
    .content header .post-details {
      margin-top: .5em; }

.post-details {
  margin-bottom: 1em;
  line-height: 1.5em; }
  .post-details .icon-font {
    margin-left: 1em;
    margin-right: .5em; }
  .post-details time {
    margin-right: 1em; }

@media (max-width: 650px) and (min-width: 0px) {
  .info {
    border-bottom: 1px dashed #959595;
    border-top: 1px dashed #959595; } }

.social li {
  margin-bottom: 1em; }
  .social li .icon-font {
    margin-right: 1em; }

footer {
  bottom: 0;
  background-color: red;
  color: white; }
  footer .container {
    margin-bottom: 0; }
  footer p {
    display: inline-block; }
  footer .social {
    float: right; }
    footer .social li {
      display: inline-block; }

/*------------------------------------*\
    $STATES
\*------------------------------------*/
.is-hidden {
  display: none; }
